body {
    margin: 0;
}

.cards_faser {
    display: flex;
    justify-content: center;
}
.cards_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 600px;
    margin: 30px;
}

.cards_box {
    box-sizing: border-box;
    width: 30%;
    height: 300px;
    border: 1px solid rgba(58, 58, 58, 0.46);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

.circle {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(58, 58, 58, 0.46);
    border-radius: 100%;
    Z-index: 1;
    top: -40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon {
    font-size: 30px;
    color: #f3d947;

}

h1 {
    font-size: 20px;
    text-align: center;
}

.cards_box>p {
    font-size: 18px;
    color: rgba(58, 58, 58, 0.46);
    text-align: center;

}

h2 {
    font-size: 18px;
    font-weight: normal;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.61);
    padding: 10px 30px;
}


/*Cards2*/

.father {
    width: 100%;
    height: 800px;
    background: rgba(185, 211, 229, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    height: 150px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background: #e2e6f6;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.black_box {
    width: 120px;
    height: 50px;
    background: #000;
    border-radius: 10px;
}

.icon_box {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.fa-solid {
    font-size: 30px;
}

.box2 {
    background: #1b389e;
    height: 60%;
    width: 800px;
}

.box3 {
    background: #e2e6f6;
    height: 25%;
    display: flex;
    justify-content: center;
}

.add_box {
    display: flex;
    width: 400px;
    position: relative;
}

.square {
    height: 100px;
    width: 100px;
    background: #c7cdec;
    border-radius: 5px;
    position: absolute;
    top: -150px;
}

.square-2 {
    left: 150px;
}

.square-3 {
    left: 300px;
}